body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: rgb(221, 166, 207);
}

.inicio{
	display: flex;
	height: 100vh;
} 

.foto {
	flex: 1;
	background-color: rgb(252, 172, 241);
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto img {
	width: 300px;
	height: auto;
	border-radius: 8px;
}